@import url('https://fonts.googleapis.com/css?family=Limelight');

body {
    background-color: black;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.title-bar{
  width: 100%;
  height: 8vh;
  background-color: white;
  background-image: url("http://res.cloudinary.com/dwnehv6tb/image/upload/v1520880792/rent_rant_title2_hljuab.jpg");
  background-size: contain;
}

#rent-rant-1{
  position: absolute;
  top: 12%;
  left: 10%;
  margin: 0;
  color: white;
  font-family: 'Limelight', cursive;
  -webkit-transform: rotate(-15deg);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}
#rent-rant-2{
  position: absolute;
  top: 12%;
  left: 30%;
  margin: 0;
  color: white;
  font-family: 'Limelight', cursive;
  -webkit-transform: rotate(20deg);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #E80CE8, 0 0 30px #E80CE8, 0 0 40px #E80CE8, 0 0 55px #E80CE8, 0 0 75px #E80CE8;
}
#rent-rant-3{
  position: absolute;
  top: 12%;
  left: 50%;
  margin: 0;
  color: white;
  font-family: 'Limelight', cursive;
  -webkit-transform: rotate(-5deg);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #BD0DFF, 0 0 30px #BD0DFF, 0 0 40px #BD0DFF, 0 0 55px #BD0DFF, 0 0 75px #BD0DFF;
}
#rent-rant-4{
  position: absolute;
  top: 13%;
  left: 64%;
  margin: 0;
  color: white;
  font-family: 'Limelight', cursive;
  -webkit-transform: rotate(-40deg);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #F50000, 0 0 30px #F50000, 0 0 40px #F50000, 0 0 55px #F50000, 0 0 75px #F50000;
}
#rent-rant-5{
  position: absolute;
  top: 12%;
  left: 80%;
  margin: 0;
  color: white;
  font-family: 'Limelight', cursive;
  -webkit-transform: rotate(12deg);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #6F00F5, 0 0 30px #6F00F5, 0 0 40px #6F00F5, 0 0 55px #6F00F5, 0 0 75px #6F00F5;

}

table {
  border-collapse: collapse;
  font-size: 12px;
  width: 75%;
  height: 50%;
  margin-top: 18vh;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  color: white;
}

table a{
  color: #cb3d2d;
}

td, th {
  border: 1px solid #edefa7;
  padding: 0.5rem;
  text-align: left;
}

tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}

th {
    font-weight: bold;
    color: #bba665;
}
